/*accordion styles*/
#block-views-block-job-postsings-list-view-block-1{
	.ui-accordion .ui-widget .ui-helper-reset{

	.job-posting-accordion{

		.views-accordion-header.ui-accordion-header.ui-state-default.ui-corner-all{
			background: none !important;
		}
		



		.views-accordion-header .ui-accordion-header-active .ui-state-active{
			background: $blue !important;
			color: white !important;
		} 


		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3/*{borderColorDefault}*/;
    background: none;
     font-weight: normal/*{fwDefault}*/;
    color: #555555/*{fcDefault}*/;
}

	}

	}	
}


