{#
/**
 * @file
 * Default theme implementation to display a recaptcha.
 *
 * Available variables:
 * - site_key: The recaptcha site key.
 */
#}
<div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
